.main-header {
    position: fixed;
    z-index: 999;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 80px;
    color: #fff;
    font-size: 14px;
}

.header__link {
    position: relative;
    height: inherit;
    padding-left: 22px;
    padding-right: 22px;
}

.header__link::after {
    content: '';
    position: absolute;
    display: block;
    left: 22px;
    right: 22px;
    top: 0;
    height: 4px;
    background-color: transparent;
    transition: 0.3s;
}

.header__link:hover::after {
    background-color: #fff;
}